/examples/bm3d_demo_deblurring.py
/examples/bm3d_demo_grayscale.py
/examples/bm3d_demo_multichannel.py
/examples/bm3d_demo_rgb.py
/examples/brainslice.mat
/examples/cameraman256.png
/examples/image_Lena512rgb.png
/examples/submit-data.zip